body{
    background-image: url('../assets/blogging-business-coding-48606.jpg');
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;

}

header {
    text-align: center;
    color: aliceblue;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

form {
    text-align: center;
    padding: 10px;
}

h1{
    font-family: 'Loved by the King', cursive;
    font-size: 700%;
    margin: 0;
}

h3{
    margin: 0;
    padding: 5px;
    font-weight: normal;
}

a{
    color: white;
    text-decoration: none;
}

p::selection{
    background-color: none;
}

.buttons{
    margin: auto;
}

.table{
    display: table;
}

.section {
    text-align: center;
    background-position:50% 50%;  
    background-size: cover;
    color: aliceblue;
    border-radius: 5px;
    margin-top: 10px;
    background-image: url('../assets/black_background2.png');
    transition-duration: 0.3s;
    padding-bottom: 10px;
}

.mozilla:hover {
    background-image: url('../assets/mozilla-thumbnail4.png');
}

.stackoverflow:hover {
    background-image: url('../assets/stackoverflow-thumbnail4.png');
}

.youtube:hover {
    background-image: url('../assets/youtube-thumbnail4.png');
    background-size: contain, no-repeat;
}

.reddit:hover {
    background-image: url('../assets/reddit-thumbnail4.png');
}

.hidden{
    display: none;
}

.link{
    border-radius: 3px;
}

.link:hover, a:hover, h3:hover{
    cursor: pointer;
    background-image: url('../assets/white_background.png');
    color: black;
    transition-duration: 0.2s;
    font-weight: bold;
}

.section-title{
    background-image: url('../assets/black_background.png');
    padding-top: 7px;
    padding-bottom: 7px;
}

.channel{
    background-image: none !important;
}

.youtube-table{
    display: inline-block;
    width: 49%;
}

.thumbnail{
    border: 1px solid white;
    border-radius: 3px;
}

#logo{
    position: absolute;
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#langSelect{
    font-family: 'Quicksand', sans-serif;
    height: 50px;
    font-size: large;
    border-radius: 4px;
}

#langSelect:hover{
    cursor: pointer;
}

select:hover {
    background-color: rgb(223, 233, 241);
    transition-duration: 0.3s;
    }

button{
    border: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: aliceblue;
    height: 50px;
    width: 80px;
    font-size: large;
    border-radius: 4px;
}

button:hover{
    background-color: rgb(223, 233, 241);
    transition-duration: 0.3s;
    cursor: pointer;
}

#searchTerm{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    height: 50px;
    width: 250px;
    border-radius: 4px;
}

#subtitle{
    font-size: 200%;
}

#subtitle:hover{
    background-image: none;
    color: aliceblue;
    font-weight: normal;
    cursor: auto;
}

#new-search{
    position: -webkit-sticky;
    position: sticky;
    width: 150px;
    top: 0;
}

#mozilla-titles{
    font-weight: normal;
}